h1 {
  margin: 100px 0;
}

h1.abouttext {
  margin-top: 100px;
  text-align: left;
  /* padding-left: -50px; */
  font-size: 100px;
}

a.nav-item.nav-link {

  font-weight: bold;
  font-size: 36px;
}

h1.text-start {
  font-size: 200px;
}

.about-section p {
  font-size: 22px;
  line-height: 1.6;
}

footer {
  margin-top: 100px;
}